<div class="container pt-4 d-flex justify-content-around">
  <div class="">
    <img src="https://images-production.bookshop.org/spree/images/attachments/248735/original/9780525560548.jpg?1608761586"
         alt="1">
  </div>
  <div class="pl-5">
    <p class="h2">Book 1</p>
    <hr>
    <p class="h4">Author: <a href="">Alexander Pasternak</a></p>
    <hr>
    <p class="h4">Description</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
      esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
      culpa qui officia deserunt mollit anim id est laborum.</p>
    <hr>
    <p class="h4">Price</p>
    <p>$19.99</p>

  </div>
</div>
