<div class="container pt-4 d-flex justify-content-around">
  <div class="">
    <img src="https://images-production.bookshop.org/spree/images/attachments/248735/original/9780525560548.jpg?1608761586"
         alt="1">
  </div>
  <div class="pl-5">
    <p class="h2">{{book?.name}}</p>
    <hr>
    <p class="h4">Author: <a routerLink="/author/{{author?.id}}">{{author?.name}}</a></p>
    <hr>
    <p class="h4">Description</p>
    <p>{{book?.description}}</p>
    <hr>
    <p class="h4">Price</p>
    <p>{{book?.price}}</p>

  </div>
</div>
