<div class="d-flex pt-4 flex-wrap">
  <div class="d-block flex-column px-5">
    <img src="https://images-production.bookshop.org/spree/images/attachments/248735/original/9780525560548.jpg?1608761586"
         alt="1"><p class="h3 pt-2 font-weight-bold"><a routerLink="/details/1">Book 1</a></p><p class="font-italic">$19.99</p>
  </div>
  <div class="d-block flex-column px-5">
    <img src="https://images-production.bookshop.org/spree/images/attachments/248735/original/9780525560548.jpg?1608761586"
         alt="1"><p class="h3 pt-2 font-weight-bold"><a routerLink="/details/1">Book 1</a></p><p class="font-italic">$19.99</p>
  </div>
  <div class="d-block flex-column px-5">
    <img src="https://images-production.bookshop.org/spree/images/attachments/248735/original/9780525560548.jpg?1608761586"
         alt="1"><p class="h3 pt-2 font-weight-bold"><a routerLink="/details/1">Book 1</a></p><p class="font-italic">$19.99</p>
  </div>
  <div class="d-block flex-column px-5">
    <img src="https://images-production.bookshop.org/spree/images/attachments/248735/original/9780525560548.jpg?1608761586"
         alt="1"><p class="h3 pt-2 font-weight-bold"><a routerLink="/details/1">Book 1</a></p><p class="font-italic">$19.99</p>
  </div>
  <div class="d-block flex-column px-5">
    <img src="https://images-production.bookshop.org/spree/images/attachments/248735/original/9780525560548.jpg?1608761586"
         alt="1"><p class="h3 pt-2 font-weight-bold"><a routerLink="/details/1">Book 1</a></p><p class="font-italic">$19.99</p>
  </div>
</div>
